<div class="container container-widest" style="padding-top: 30px;padding-bottom: 0px;">
  <span style="padding-top: 8px;">
    <%= "You are: #{current_user.email}" %>
  </span>
  <span>
    &nbsp;&nbsp;
  </span>
  <span>
    <%= link_to 'All orders', orders_path, class: 'btn btn-primary btn-lg mb-3', style: 'text-align: right', data: { turbo: false } %>
  </span>
  <span>
    &nbsp;&nbsp;
  </span>
  <span>
    <%= link_to 'Last 12 months orders', last_year_orders_path, class: 'btn btn-primary btn-lg mb-3', style: 'text-align: right', data: { turbo: false } %>
  </span>
  <span>
    &nbsp;&nbsp;
  </span>
  <span>
    <%= link_to 'Last 12 months (by months)', last_year_by_months_path, class: 'btn btn-primary btn-lg mb-3', style: 'text-align: right', data: { turbo: false } %>
  </span>
  <span>
    &nbsp;&nbsp;
  </span>
  <span>
    <%= link_to 'Preservations', preservations_path, class: 'btn btn-success btn-lg mb-3', style: 'text-align: right', data: { turbo: false } %>
  </span>
  <span>
    &nbsp;&nbsp;
  </span>
  <span>
    <%= link_to 'Get report', get_report_path, class: 'btn btn-danger btn-lg mb-3', style: 'text-align: right', data: { turbo: false } %>
  </span>
</div>
