<!DOCTYPE html>
<html>
  <head>
    <title>Reports2024</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render partial: 'shared/navigation' if current_user %>

    <%= turbo_stream_from "flash" %>
    <div id="flash-messages">
      <% if flash.empty? %>
        <div class="alert" style>&nbsp;</div>
      <% end %>
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
